button.mini-button {
  min-width: 60px;
}

#menu_iamfox {
  list-style-image: url('menuicon.png');
}

treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url(chrome://global/skin/checkbox/cbox-check.gif);
}

treechildren::-moz-tree-checkbox(checked, DISABLED){
  list-style-image: url(chrome://global/skin/checkbox/cbox-check-dis.gif);
}